.container{
    background-color: #1a1a1a;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    text-align: left;
    padding-right: 730px;
    padding-left: 30px;
}

.container2{
    background-color: #1a1a1a;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    text-align: left;
    padding-right: 590px;
    padding-left: 30px;
}

.container3{
    background-color: #1a1a1a;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    text-align: left;
    padding-right: 480px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.botton button{
    width: 100%;
    padding: 15px 345px;
    background: linear-gradient(90deg, #ec6f76, #795ce4);
    border: none;
    font-family: 'Inconsolata', monospace;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
    margin-top: 10px;
    display: inline-block;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

.botton2 button{
    width: 570px;
    background: linear-gradient(90deg, #ec6f76, #795ce4);
    border: none;
    font-family: 'Inconsolata', monospace;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
    margin-top: 10px;
    display: inline-block;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

.botton3 button{
    width: 448px;
    background: linear-gradient(90deg, #ec6f76, #795ce4);
    border: none;
    font-family: 'Inconsolata', monospace;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
    margin-top: 10px;
    display: inline-block;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

.container h1{
    margin-top: 25;
    margin-bottom: 25px;
    display: inline-block;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

.container2 h1{
    margin-top: 25;
    margin-bottom: 25px;
    display: inline-block;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

.container3 h1{
    margin-top: 25;
    margin-bottom: 25px;
    display: inline-block;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

